/**
 * 아바타 스타일
 */

.avatar {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background: #9e9e9e;
  color: white;
  font-weight: 600;
  flex-shrink: 0;
}

.avatar-small {
  width: 32px;
  height: 32px;
  font-size: 14px;
}

.avatar-medium {
  width: 60px;
  height: 60px;
  font-size: 24px;
}

.avatar-large {
  width: 100px;
  height: 100px;
  font-size: 40px;
}

.avatar-initial {
  user-select: none;
}

